@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import "tailwindcss";

@font-face {
    font-family: "sns";
    src: url("./assets/font/sns.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}


@theme {
    --font-share-tech-mono: "Share Tech Mono", monospace;
    --font-sns: "sns", sans-serif;

    --color-app-bg: #070403;
    --color-app-text: #D7D6D6;
}

body {
    font-family: var(--font-sns);
    background-color: var(--color-app-bg);
    color: var(--color-app-text);
}

.process_container {
    animation: processEnter 6s ease-in-out both;
    will-change: transform;
}

@keyframes processEnter {
    0% {
        transform: translateY(-130%);
    }

    20% {
        transform: translateY(-100%);
    }

    30% {
        transform: translateY(-70%);
    }

    40% {
        transform: translateY(-50%);
    }

    80% {
        transform: translateY(-20%);
    }

    100% {
        transform: translateY(-5%);
    }
}



.qr_container {
    animation: QREnter 6s ease-in-out both;
    will-change: transform;
}

@keyframes QREnter {
    0% {
        transform: translateY(-130%);
    }

    20% {
        transform: translateY(-100%);
    }

    30% {
        transform: translateY(-70%);
    }

    40% {
        transform: translateY(-50%);
    }

    80% {
        transform: translateY(-20%);
    }

    100% {
        transform: translateY(-5%);
    }
}